body{
    background:url('http://www.wallpaperup.com/uploads/wallpapers/2012/10/21/20181/cad2441dd3252cf53f12154412286ba0.jpg');
    padding:50px;
}

form,h3,h1,h2,.container{
    color:white;

}

.sub_section{

    font-size: 15px;
}

.col-sm-offset-{

    font-size:40px;
}

table{

    color:black;
}

a{

    color:yellow;
}